body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px;
    min-width: 400px;
    
}
input{
    padding:10px;
    border: 1px solid #5f9341;
    width: 100%;
    box-sizing: border-box;   /* box-sizing will make box placed within the page size.*/
}
#input-btn{
    margin-top: 10px;
    background: #54b01f;
    border: 2px solid #5f9341;
    color: white;
    font-weight: 700;
    padding:10px 20px;/* padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; */
}
#tab-btn{
    margin-top: 10px;
    background: #54b01f;
    border: 2px solid #5f9341;
    color: white;
    font-weight: 700;
    padding:10px 20px;/* padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; */
}
#delete-btn{
    margin-top: 10px;
    color: #54b01f;
    background: white;
    border: 2px solid #5f9341;
    font-weight: 700;
    padding:10px 20px;/* padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; */
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 20px;
}
li > a{
    color: #5f9341;
}